$Redscale-Red900: #c30010;
$Redscale-Red700: #d1001f;
$Redscale-Red600: #de0a26;
$Redscale-Red500: #f01e2c;
$Redscale-Red400: #ff2c2c;
$Redscale-Red300: #f94449;
$Redscale-Red200: #ee6b6e;
$Redscale-Red100: #f69697;
$Redscale-Red50: #ffcbd1;

$Secondary-NavyBlue: #0029ad;
$Secondary-Navy: #2e3245;
$Secondary-Green: #18bc7b;

$Accent-Yellow: #ffcc00;
$Accent-NegativeRed: #ff0000;
$Accent-Red: #ff501b;
$Accent-Orange: #ff9d00;

$Grayscale-Gray900: #222222;
$Grayscale-Gray800: #444444;
$Grayscale-Gray700: #6a6a6a;
$Grayscale-Gray500: #9e9e9e;
$Grayscale-Gray400: #b8b8b8;
$Grayscale-Gray300: #d2d2d2;
$Grayscale-Gray200: #e8e8e8;
$Grayscale-Gray100: #f4f4f4;
$Grayscale-Gray50: #f7f7f7;

$White: #ffffff;
$Black: #000000;

$Gray: #eef0f4;
$Disable: #d2d3d7;

$ContentsBG: #f2f4f7;

$Primary: $Redscale-Red600;
$Secondary-Red: $Redscale-Red400;

$Logo-MainRed: $Redscale-Red600;
$Logo-SubLime: #b8ff00;

$Line-Gray300: $Grayscale-Gray300;
$Line-Gray200: $Grayscale-Gray200;
$Line-Gray100: $Grayscale-Gray100;
$Line-NegativeRed: $Accent-NegativeRed;

$Bg-Gray: $Gray;
$Bg-Content-Bg: $ContentsBG;
$Bg-Gray100: $Grayscale-Gray100;
$Bg-Gray50: $Grayscale-Gray50;
$Bg-White: $White;
