@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-display: block;
  src:
    local("Pretendard Regular"),
    url(/webfont/pretendard/woff2-dynamic-subset/Pretendard-Regular.subset.woff2)
      format("woff2"),
    url(/webfont/pretendard/woff-dynamic-subset/Pretendard-Regular.subset.woff)
      format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-display: block;
  src:
    local("Pretendard SemiBold"),
    url(/webfont/pretendard/woff2-dynamic-subset/Pretendard-SemiBold.subset.woff2)
      format("woff2"),
    url(/webfont/pretendard/woff-dynamic-subset/Pretendard-SemiBold.subset.woff)
      format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-display: block;
  src:
    local("Pretendard Bold"),
    url(/webfont/pretendard/woff2-dynamic-subset/Pretendard-Bold.subset.woff2)
      format("woff2"),
    url(/webfont/pretendard/woff-dynamic-subset/Pretendard-Bold.subset.woff)
      format("woff");
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input,
select,
textarea,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: none;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-size: 1rem;
  line-height: 1.2;
  font-family: "Pretendard", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  font-weight: 400;
  color: #222;
  letter-spacing: -0.005em;
  background-color: #f2f4f7;
}

button,
a {
  color: #222;
}

.screen-out {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

#debugger {
  display: none;
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 10px;
  color: red;
  font-size: 0.875rem;
  word-break: break-all;
  pointer-events: none;
  z-index: 999999999;
}

#debugger.active {
  display: block;
}

table.vertical-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #444444;
  th {
    text-align: left;
    padding: 10px 10px;
    background-color: color-mix(in srgb, #fff, #181d1f 2%);
    border-bottom: 1px solid color-mix(in srgb, transparent, #181d1f 15%);
  }
  td {
    padding: 10px 10px;
    text-align: left;
    border-bottom: 1px solid color-mix(in srgb, transparent, #181d1f 15%);
  }
  thead th {
    text-align: center;
    background: color-mix(in srgb, #fff, #181d1f 6%);
  }

  thead td {
    text-align: center;
    background: color-mix(in srgb, #fff, #181d1f 6%);
  }
}

table.row-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #444444;
  table-layout: fixed;
  th {
    text-align: center;
    padding: 10px 10px;
    background-color: color-mix(in srgb, #fff, #181d1f 2%);
    border-bottom: 1px solid color-mix(in srgb, transparent, #181d1f 15%);
    &:not(:first-child) {
      border-left: 1px solid #e2e2e2;
    }
  }
  td {
    padding: 10px 10px;
    text-align: center;
    border-bottom: 1px solid color-mix(in srgb, transparent, #181d1f 15%);
    word-break: break-all;
    &:not(:first-child) {
      border-left: 1px solid #e2e2e2;
      white-space: normal;
    }
  }
}

.ck.ck-powered-by-balloon {
  display: none !important;
}
